<li>
  <div class="smart-timeline-icon">
    <%= owner_avatar(activity) %>
  </div>
  <div class="smart-timeline-time">
    <small><%= time_ago_in_words(activity.created_at) %></small>
  </div>
  <div class="smart-timeline-content">
    <p><%= user_label(activity) %></p>
    <p>
      <i class="fa fa-trash-o fa-border fa-lg"></i>
      Borró <strong><%= t("activerecord.models.#{activity.trackable_type.underscore}.one") %></strong>
      <%= trackable_label(activity, false) %>
    </p>
  </div>
</li>