<body class="">
<%= render "layouts/header" %>
<%= render "layouts/navigation" %>
<%= render "errors/main_panel_error" %>
<%= render "layouts/footer" %>

<%= render "layouts/bottom_javascripts" %>
</body>
