<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-table"></i></span>
          <div class="widget-toolbar filter-group">
            <%%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_<%= singular_table_name %>_path, class: 'btn btn-primary' if(can? :create, <%= singular_table_name.camelize %>) %>
            <a href="#" id="filtrar" role="button" class="btn <%%= @filter_active ? 'btn-danger' : 'btn-primary'%>"><i class="fa fa-filter"></i> <%%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %></a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox" id="filter-zone" style="display:none;">
            <div class="col-md-9 col-sm-12 no-padding"><%%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <% for attribute in attributes -%>
                        <% if [:integer, :float, :decimal].include? attribute.type.to_sym -%>
                            <% if attribute.name[-3,3] ==  "_id" -%>
                                <div class="form-group">
                                  <label for="q[<%= attribute.name %>_cont]"><%%= t('simple_form.labels.<%= attribute.name[0,attribute.name.length-3] %>') %></label>
                                  <%%= f.select :<%= attribute.name %>_eq, options_from_collection_for_select(<%= attribute.name[0,attribute.name.length-3].camelize %>.all, :id, :name, @q.<%= attribute.name %>_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                                </div>
                            <% else -%>
                                <div class="form-group spanning">
                                  <label for="q[<%= attribute.name %>_gteq]"><%%= t('simple_form.labels.defaults.<%= attribute.name %>') %></label>
                                  <div class="input-group input-group-sm block">
                                    <%%= f.search_field :<%= attribute.name %>_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control input-sm" %>
                                  </div>
                                  <div class="input-group input-group-sm block">
                                    <%%= f.search_field :<%= attribute.name %>_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control input-sm" %>
                                  </div>
                                </div>
                            <% end -%>
                        <% elsif [:datetime, :date].include? attribute.type.to_sym -%>
                            <div class="form-group spanning">
                              <label for="q[<%= attribute.name %>_gteq]"><%%= t('simple_form.labels.defaults.<%= attribute.name %>') %></label>
                              <div class="input-group input-group-sm block">
                                <%%= f.search_field :<%= attribute.name %>_gteq, label: false, placeholder: t('simple_form.placeholders.from'), class: "form-control datepicker input-sm", data: {dateformat: "dd/mm/yy"} %>
                              </div>
                              <div class="input-group input-group-sm block">
                                <%%= f.search_field :<%= attribute.name %>_lteq, label: false, placeholder: t('simple_form.placeholders.to'), class: "form-control datepicker input-sm", data: {dateformat: "dd/mm/yy"} %>
                              </div>
                            </div>
                        <% elsif attribute.type.to_sym == :boolean -%>
                            <div class="form-group">
                              <label for="q[<%= attribute.name %>_eq]"><%%= t('simple_form.labels.defaults.<%= attribute.name %>') %></label>
                              <%%= f.select :<%= attribute.name %>_eq, options_for_select([['True', 'true'], ['False', 'false']], @q.<%= attribute.name %>_eq), {include_blank: true}, {class: "form-control input-sm"} %>
                            </div>
                        <% else -%>
                            <div class="form-group">
                              <label for="q[<%= attribute.name %>_cont]"><%%= t('simple_form.labels.defaults.<%= attribute.name %>') %></label>
                              <%%= f.search_field :<%= attribute.name %>_cont, label: false, class: "form-control input-sm" %>
                            </div>
                        <% end -%>
                    <% end -%>
                    <div class="btn-group">
                      <button id="search_clear" name="search_clear" type="submit" value="true" class="btn btn-sm btn-warning form-control"><i class="fa fa-repeat"></i> <%%= t('simple_form.buttons.reset_filters') %></button>
                      <button type="submit" class="btn btn-sm btn-primary form-control"><i class="fa fa-filter"></i> <%%= t('simple_form.buttons.filter') %></button>
                    </div>
                  </fieldset><%% end %>
              </div>
            </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <% attributes.each_with_index do |attribute, i| -%>
                    <% if attribute.name[-3,3] ==  "_id" -%>
                        <th<%= i == 0 ? " class='all control'" : ''%>><%%= sort_link(@q, :<%= attribute.name[0,attribute.name.length-3] %>_name, t('simple_form.labels.<%= attribute.name[0,attribute.name.length-3] %>')) %></th>
                    <% else -%>
                        <th<%= i == 0 ? " class='all control'" : ''%>><%%= sort_link(@q, :<%= attribute.name %>, t('simple_form.labels.defaults.<%= attribute.name %>')) %></th>
                    <% end -%>
                <% end -%>
                <th class="all"><%%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
              <tr>
              <% for attribute in attributes -%>
                  <% align = ''
                     align = " align='right'" if [:integer, :float, :decimal].include?(attribute.type.to_sym)
                     align = " align='center'" if [:boolean].include?(attribute.type.to_sym) -%>
                  <% if attribute.name[-3,3] == "_id" -%>
                      <td><%%= <%= singular_table_name %>.<%= attribute.name[0,attribute.name.length-3] %>.try(:name) %></td>
                  <% elsif attribute.type.to_sym == :boolean -%>
                      <td<%= align %>><%%= boolean_check_mark(<%= singular_table_name %>.<%= attribute.name %>) %></td>
                  <% elsif attribute.type.to_sym == :date -%>
                      <td<%= align %>><%%= l(<%= singular_table_name %>.<%= attribute.name %>, format: :default) %></td>
                  <% elsif attribute.type.to_sym == :datetime -%>
                      <td<%= align %>><%%= l(<%= singular_table_name %>.<%= attribute.name %>, format: :without_seg) %></td>
                  <% else -%>
                      <td<%= align %>><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
                  <% end -%>
              <% end -%>
              <td class="table-actions">
                <%%= render 'shared/action_icons', locals: {target: <%= singular_table_name %>, model_edit_path: edit_<%= singular_table_name %>_path(<%= singular_table_name %>)} %>
              </td>
              </tr>
              <%% end %>
              </tbody>
            </table>
            <div class="widget-footer">
              <%%= render 'shared/pagination', locals: {target: @<%= plural_table_name %>, model_index_path: <%= plural_table_name %>_path} %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

