<section id="widget-grid">
  <div class="row">
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" class="jarviswidget jarviswidget-color-darken">
        <header><span class="widget-icon"><i class="fa fa-table"></i></span>

          <div class="widget-toolbar">
            <%= link_to raw("<i class='fa fa-file'></i> #{t('simple_form.buttons.new')}"), new_thing_part_path, class: 'btn btn-primary' if (can? :create, ThingPart) %>
            <a href="#" role="button" class="btn jarviswidget-edit-btn <%= @filter_active ? 'btn-danger' : 'btn-primary' %>"><i class="fa fa-filter"></i> <%= @filter_active ? t('simple_form.buttons.filtering') : t('simple_form.buttons.filters') %>
            </a>
          </div>
        </header>
        <div class="no-padding">
          <div class="jarviswidget-editbox">
            <div class="col-md-9 col-sm-12 no-padding"><%= search_form_for(@q, html: {name: 'filter_form', class: 'form-inline'}) do |f| %>
                  <fieldset>
                    <div class="form-group">
                      <label for="q[name_cont]"><%= t('simple_form.labels.defaults.name') %></label>
                      <%= f.search_field :name_cont, label: false, class: "form-control input-sm" %>
                    </div>
                    <div class="form-group">
                      <label for="q[field1_cont]"><%= t('simple_form.labels.defaults.field1') %></label>
                      <%= f.search_field :field1_cont, label: false, class: "form-control input-sm" %>
                    </div>
                    <div class="form-group">
                      <label for="q[field2_cont]"><%= t('simple_form.labels.defaults.field2') %></label>
                      <%= f.search_field :field2_cont, label: false, class: "form-control input-sm" %>
                    </div>
                    <div class="form-group">
                      <label for="q[field3_cont]"><%= t('simple_form.labels.defaults.field3') %></label>
                      <%= f.search_field :field3_cont, label: false, class: "form-control input-sm" %>
                    </div>
                    <div class="btn-group">
                      <button id="search_clear" name="search_clear" type="submit" value="true" class="btn btn-sm btn-warning form-control">
                        <i class="fa fa-repeat"></i> <%= t('simple_form.buttons.reset_filters') %></button>
                      <button type="submit" class="btn btn-sm btn-primary form-control">
                        <i class="fa fa-filter"></i> <%= t('simple_form.buttons.filter') %></button>
                    </div>
                  </fieldset>
              <% end %>
            </div>
          </div>
          <div class="widget-body">
            <table id="dt_basic" width="100%" class="display table table-striped table-bordered table-hover" style="margin:0 padding-top:0px">
              <thead>
              <tr>
                <th class='all control'><%= sort_link(@q, :name, t('simple_form.labels.defaults.name')) %></th>
                <th><%= sort_link(@q, :field1, t('simple_form.labels.defaults.field1')) %></th>
                <th><%= sort_link(@q, :field2, t('simple_form.labels.defaults.field2')) %></th>
                <th><%= sort_link(@q, :field3, t('simple_form.labels.defaults.field3')) %></th>
                <th class="all"><%= t('simple_form.screen.actions') %></th>
              </tr>
              </thead>
              <tbody>
              <% @thing_parts.each do |thing_part| %>
                  <tr>
                    <td><%= thing_part.name %></td>
                    <td><%= thing_part.field1 %></td>
                    <td><%= thing_part.field2 %></td>
                    <td><%= thing_part.field3 %></td>
                    <td class="table-actions">
                      <%= render 'shared/action_icons', locals: {target: thing_part, model_edit_path: edit_thing_part_path(thing_part)} %>
                    </td>
                  </tr>
              <% end %>
              </tbody>
            </table>
            <div class="widget-footer">
              <%= render 'shared/pagination', locals: {target: @thing_parts, model_index_path: thing_parts_path} %>
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>

